.bar-container{
    height: 20px;  /* Can be anything */
    position: relative;
    background: #000;
    margin-top: 10px;
    padding: 0;
    clear: both;
    overflow: hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.bar {
    display: inline-block;
    height: 30px;
    margin-right: -3px;
    margin-left: -3px;
    padding: 0;
}

.new {
    background-color: #FFF;
    background-image: none;
}

.pending {
    background-color: #4572A7;
    background-image: none;}

.feedback {
    background-color: #FF5858;
    background-image: none;}

.in_progress {
    background-color: #F5B858;
    background-image: none;}

.closed {
    background-color: #B3FF97;
    background-image: none;}

