body {
    background: #000000;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #ddd;
    padding: 1.5em;
}

.clear {
    clear: both;
}

.container {
    background-color: #333;
    border: 1px solid #353A3B;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #000;
    padding: 0.5em;
    margin-bottom: 1em;
}

#toggle {
    color: #333;
    font-size: 0.9em;
    cursor: pointer;
}

#support table {
    width: 100%;
}

#support td {
    font-size: 2.1em;
    padding: 0.3em 0.5em;
    text-shadow: 0 1px 0 #888;
    background-image: -webkit-linear-gradient(bottom, rgb(26,26,26) 45%, rgb(33,33,33) 42%);
    border: 1px solid #353A3B;
    border-radius: 0.2em;
}

#support td.id,
#support td.time,
#support td.project {
    text-align: center;
}

#support td.time,
#support td.project {
    font-size: 1.5em;
}

#support span.assignee,
#support span.author {
    display: block;
    white-space: nowrap;
}

#support span.assignee {
    font-size: 0.7em;
}

#support .urgent td {
    color: rgba(255, 88, 88, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(255, 88, 88, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgb(56,26,26) 45%, rgb(63,33,33) 42%);
}

#support .high td {
    color: rgba(245, 184, 88, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(245, 184, 88, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgb(56,26,0) 45%, rgb(63,33,0) 42%);
}

#support .low td {
    color: rgba(151, 171, 255, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(151, 171, 255, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgb(26,26,56) 45%, rgb(33,33,63) 42%);
}

#support .urgent .title {
    -webkit-animation: flash 1s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

#support .counts td {
    text-align: center;
    width: 18%;
}

#support .counts td.total {
    width: 28%;
}

#support .counts span {
    display: block;
    font-size: 2.6em;
    line-height: 1.35em;
}

#support .counts .total span {
    padding-top: 0;
    font-size: 3.5em;
    line-height: 1em;
}

#support .counts td.urgent {
    color: rgba(255, 88, 88, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(255, 88, 88, 0.8);
}

#support .counts td.high {
    color: rgba(245, 184, 88, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(245, 184, 88, 0.8);
}

#support .counts td.low {
    color: rgba(151, 171, 255, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(151, 171, 255, 0.8);
}

#issuesChart {
    padding: 2px;
}

#issuesChart .inner {
    font-size: 2.5em;
    padding: 0.9em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #888;
    background-image: -webkit-linear-gradient(bottom, rgb(26,26,26) 45%, rgb(33,33,33) 42%);
    border: 1px solid #353A3B;
    border-radius: 0.2em;
}

#builds .project {
    float: left;
    width: 50%;
}

#builds #add-project {
    float: left;
    clear: left;
    font-size: 1em;
    padding: 0 0.3em;
    text-transform: uppercase;
    color: rgba(100, 100, 100, 1.0);
    text-shadow: 0 1px 0 #333;
    background-image: -webkit-linear-gradient(bottom, rgb(26,26,26) 45%, rgb(33,33,33) 42%);
    border: 1px solid #353A3B;
    border-radius: 0.2em;
    cursor: pointer;
}

#builds .project .inner {
    font-size: 2.5em;
    padding: 0.3em 0.5em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #888;
    background-image: -webkit-linear-gradient(bottom, rgb(26,26,26) 45%, rgb(33,33,33) 42%);
    border: 1px solid #353A3B;
    border-radius: 0.2em;
}

#builds .project .displayName {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#builds .building .inner .displayName {
    color: rgba(151, 171, 255, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(151, 171, 255, 0.8);
    -webkit-animation: highlight 1s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

#builds .success .inner .displayName {
    color: rgba(179, 255, 151, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(179, 255, 151, 0.8);
}

#builds .failure .inner {
    background-image: -webkit-linear-gradient(bottom, rgb(56,26,26) 45%, rgb(63,33,33) 42%);
    -webkit-animation: flash 1s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

#builds .failure .inner .displayName {
    color: rgba(255, 88, 88, 1.0);
    text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(255, 88, 88, 0.8);
}

#builds .unknown .inner .displayName {
    color: rgba(70, 70, 70, 1.0);
    text-shadow: 0 1px 0 #333;
}

#builds .staging,
#builds .production {
    float: right;
    clear: right;
    font-size: 0.6em;
    line-height: 1em;
}

#builds .staging {
    color: #ffa;
}

@-webkit-keyframes flash {
    0%, 100% { background-image: none; background-color: rgb(56,26,26); -webkit-transform: scale(1.0); }
    50% { background-image: none; background-color: rgb(206, 76,76); -webkit-transform: scale(0.95); color: #fff; }
}

@-webkit-keyframes highlight {
    0%, 100% {
        color: #ddd;
        text-shadow: none;
    }
    50% {
        color: rgba(151, 171, 255, 1.0);
        text-shadow: 0px -1px 0px #000, 0px 0px 5px rgba(151, 171, 255, 0.8);
    }
}